body{
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-color: #f80;
    color: #fff;

}
/* sección header */
.header{
    min-height: 100vh;
    box-sizing: border-box;
    background-image: url(../../imagenes/daltoAda.jpg);
    display: flex;
    
}
.header__overlay{
    height: 100vh;
    width: 100%;
    background-color: #0006;
    position: absolute;
    z-index: 0;
    background-size: cover;
}
.header__item-container{
    position: relative;
    z-index: 10;
    margin: auto;
    text-align: center;
    max-width: 700px;
}
.header__item-container p{
    text-wrap: pretty;
}
.header__img{
    min-width: 200px;
    max-width: 40%;
    border-radius: 50%;
    border: 6px solid #fff;
    margin: 20px;
}
h1{
    margin: 0;
    font-size: 3.6rem;
    text-wrap: balance;
}
/* sección nav bar */
.nav{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0px;
    padding: 6px;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    box-shadow: 0 0 25px #0009;
}
.nav__ul{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}
.nav__item{
    list-style: none;
}
.nav__logo--container{
    flex-grow: 1;
    text-align: center;
}
.nav__ul--container{
    flex-grow: 1;
}
.nav__link{
    color: #f80;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
    padding: 8px 10px;
    border-radius: 0;
    transition: background-color 0.25s, border-radius 0.25s,
    outline 0.3s, outline-offset 0.3s;
    outline: 0;
    outline-offset: 0;
}
.nav__link:hover{
    background-color: #f803;
    border-radius: 20px;
    /* outline: 2px solid #f801; */
    /* outline-offset: -5px; */
}
.link--login{
    background-color: #f80;
    color: #fff;
    border-radius: 20px;
    padding: 8px 24px;
    margin-left: 6px;
}
.link--login:hover{
    background-color: #b61;

}
.nav__logo{
    width: 100px;
}
/* main seccion */
main{
    max-width: 800px;
    margin: auto;
    text-wrap: pretty;
    font-size: 30px;
}

