body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    background-color: #48e;
}
.box {
    margin: auto;
    padding: 20px 50px;
    border: 4px solid #000;
    width: fit-content;
}
img {
    /* scale: 1; */
    transform: scale(2);
    transform: scale(1);
    transform: scaleX(1.5);
    transform: scaleY(0.5);
}