body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div,body{
    box-sizing: border-box;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-flow: dense; /*evita los espacios en blanco al utilizar grid-row o grid-column*/
    margin: auto;
    padding: 10px;
    gap: 10px;
    min-height: 100vh;
}
.grid-item{
    background-color: #48e;
    font-size: 30px;
    border-radius: 10px;
    background-image: url(../../multimedia/dalto.jpg);
    background-size: cover;
    background-position: center;
}
.grid-item:hover{
    opacity: 0.8;
}
.grid-item:nth-child(2){
    grid-column: span 2;
}
.grid-item:nth-child(10){
    grid-row: 2/ span 2;
    grid-column: span 2;
}