html{
    font-size: 30px;
}
div{
    background: #eee;
    padding: 20px;
    font-family: sans-serif ;
    border-left: 5px solid #aaa;
    /* border-radius: 0 100px 100px 0 ; */
    font-size: 20px;
    /* a continuación centramos el div  */
    height: 80vh;
    width: 80vw;
    margin: auto;
    margin-top: 10vh;
}
h1{
    margin: 0px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: left;
}
span{
    font-size: 0.5em;
    color: #999;
    font-weight: 450;
    text-transform: lowercase;

}
p{
    color: #555;
    /* el tamaño de la fuente del p es 75% del tamaño de la fuente de la caja contenedora */
    font-size: 0.75em;
    /* el rem hace lo mismo pero en vez de buscar el tamaño de la caja contenedora busca el tamaño de la 
    caja raiz que es html
     */
    font-size: 0.5 rem;
    text-align: justify;

}