body{
    font-family: Montserrat;
    color:#222;
    margin: auto;
    padding: auto;
}
.materias{
    width: 90%;
    background-color: #ccc;
    margin: 20px auto;
    padding: 3px;
}
.materia{
    display: flex;
    justify-content: space-between;
    margin: 0px 0 ;
}
.materia .nombre{
    flex-grow: 1;
    padding: 20px;
}
.materia .nota{
    flex-basis: 20px;
    background-color: #bbb;
    padding: 20px;
    text-align: center;
}
.materia:nth-child(even) {
    background-color: #ddd;
}

.materia:nth-child(odd) {
    background-color: #eee;
}