{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    {# es para reducir aun más, agregamos un pedazo de codigo a la base #}
    {% include 'layouts/parcials/menu.html' %}
    <main>
        {# esto es un bloque, se usa para no repetir codigo #}
        {% block content %}
        {% endblock %}
    </main>
    <footer>

    </footer>
    {% block js %}{% endblock %}
</body>
</html>