body {
    margin: 0;
    background-color: #ccc;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}
.container {
    height: 100vh;
}
.crecedor{
    height: 100vh;
}
.box {
    view-timeline: --cajita block;
    margin: auto;
    background-color: #48e;
    padding: 20px;
    animation: cambio_color;
    animation-timeline: view();
    animation-timeline: --cajita;
}
@keyframes cambio_color {
    from {
        width: 0%;
    }
    to {
        width: 100%;
        background-color: #f33;
    }
}