body{
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
    height: 200vh;
}
div{
    box-sizing: border-box;
}
.box{
    margin-top: 10px;
    background-color: #fff;
    padding: 6px;
    border: 4px solid #48e;
    border-radius: 39px;
    position: fixed;
    width: 100%;
    animation-name: borde;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-timeline: scroll();
}
.barra{
    padding: 40px;
    background-color: #48e;
    border-radius: 30px;
    width: 10%;
    animation-name: llenar_barra;
    animation-fill-mode: both; 
    animation-timing-function: linear; 
    animation-timeline: scroll();
}
.barra:active{
    animation-play-state: paused;
}

@keyframes llenar_barra {
    from{
        width: 0%;
    }
    to{
        width: 100%;
        background-color: #f33;
    }
}
@keyframes borde {
    from{
        border-color: #48e;
    }
    to{
        border-color: #f33;
    }
}