body {
    background-color: #333;
    color: #ddd;
    font-family: sans-serif;
}

details {
    background-color: transparent;
    border: 1px solid #ddd;
    border-bottom: none;
    font-weight: bold;
}

details[open] {
    border-bottom: 1px solid #ddd;
    font-weight: 500;
    background-color: #555;
}

summary {
    background-color: transparent;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}