.card {
    background: coral;
    text-align: center;
    width: 500px;
    margin: auto;
    /* lo que hace margin: auto es centrar la clase card */
    margin-top: 20px;
    border-radius: 30px;
    padding: 4px;
}

body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white
}
h1{
    padding-top: 10px;
    font-size: 22px;
    margin: 0;
    text-transform: uppercase;
}
h2{
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 4px;
}
p{
    font-size: 12px;
    padding: 20px;
    background: lightcoral;
    text-align: justify;
    border-radius: 100px;
    margin: 20px;
}