{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    <h1>Hello, world!</h1>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
    <main>
        {# esto es un bloque, se usa para no repetir codigo #}
        {% block content %}
        {% endblock %}
    </main>
    <footer>

    </footer>
    {% block js %}{% endblock %}
</body>
</html>